@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 30px auto;
    padding: 0 30px;
}

.grid{
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
}

.img img{
    max-width: 100%;
    display: inherit;
}
.card-content{
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p.product-catalogo{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}
h1.product-name{
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
}
p.pro-des{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}
.price{
    display:flex;
    align-items: center;
}
p.current-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    padding-right: 25px;
}
span.old-price{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button.button-compra{
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 14px 0;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 100%;
}
button.button-compra:hover{
    background-color: hsl(158, 36%, 23%);
}
button.button-compra img{
    padding-right: 7px;
}

@media only screen and (max-width: 628px){
    .grid{
        grid-template-columns: 1fr;

    }
    .img img{
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }
    .card-content{
        display: block;
    }
    p.product-catalogo, h1.product-name, p.pro-des, .price{
        padding-bottom: 23px;

    }
}
@media only screen and (max-width: 375px){
    .container{
        margin: 15px auto;
        padding: 0 15px;  
    }
    .img img{
        max-height: 290px;
    }
    .card-content{
        padding: 24px;
    }
    p.product-catalogo, h1.product-name, p.pro-des, .price{
        padding-bottom: 16px;
    }
    h1.product-name{
        font-size: 28px;
    }
    p.pro-des{
        font-size: 12px;
    }
    p.current-price{
        font-size: 23px;
    }
    button.button-compra{
        padding: 12px 0;
        font-size: 13px;
    }
}